<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^api - [L]
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]
    RewriteRule ^(.*) /tc_v3.0/index.html [NC,L]
</IfModule>